# Editable Git install with no remote (acme-churn-project==0.1)
#-e /Users/vishalsingh/Complete-Data-Science-With-Machine-Learning-And-NLP-2024/acme_churn_project
fastapi
uvicorn
pandas
scikit-learn
joblib
pytest
httpx

